
<div id="controls-carousel" class="relative" data-carousel="static">
    <!-- Carousel wrapper -->
    <div class="relative h-56 overflow-hidden rounded-lg md:h-96"></div>
    
    <!-- Cards I want but barely working -->
    <div class="container">
     <div class="card h-72 bg-gradient-to-r from-amber-600 to-amber-800" >
       <div class="col-md-4 col-sm-12 col-xs-12">
       <h3 class="title">Forfait Bronze</h3>
       <div class="row">
         <div class="price-details">
           <span class="price">99</span>
           <p>For professional use</p>
         </div>
         <ul class="features">
           <li><i class="fas fa-check"></i><span>Unlimited GB Premium Bandwidth</span></li>
           <li><i class="fas fa-check"></i><span>FREE 200+ Installation Scripts WordPress Supported</span></li>
           <li><i class="fas fa-check"></i><span>Five FREE Domain Registration .com and .np extensions only</span></li>
           <li><i class="fas fa-check"></i><span>Unlimited Email Accounts & Databases</span></li>
         </ul>
       </div>
       <div class="bar">
         <li class="flex space-x-3">
         </div>
           <!-- Icon -->
       </li>
       </div>
       <div class="circle">
       </svg>
       </div>
     </div>
     <div class="card h-72 bg-gradient-to-r from-zinc-400 to-zinc-800">
       <h3 class="title">Forfait Argent</h3>
       <div class="bar">
       </div>
       <div class="circle">
       </svg>
       </div>
     </div>
     <div class="card h-72 bg-gradient-to-r from-amber-200 to-amber-400 ">
       <h3 class="title">Forfait Or </h3>
       <div class="bar">
       </div>
       </svg>
       </div>
     </div>
     </div>
    </div>
    </div>
    </section>
    