---
import Layout from '~/layouts/PageLayout.astro';
import Herotest from '~/components/widgets/testastro.astro';
import Headertest from '~/components/widgets/Astroheadertest.astro';
import Hero from '~/components/widgets/Hero.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Content from '~/components/widgets/Content.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Image from '~/assets/images/outremont.png';
import Stats from '~/components/widgets/Stats.astro';
import Features2 from '~/components/widgets/Features2.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Formtest from '~/components/widgets/formv1.astro';



import { headerData } from '~/data';

const meta = {
  title: 'Test Page',
};
---
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nos Forfaits | PasUnCondo.ca</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
</head>

<Layout {meta}>

  <Hero
  callToAction={{ text: 'Demande de Soumission', href: 'landing/nous-joindre', icon: 'tabler:check' }}
  callToAction2={{ text: 'En savoir plus', href: '#features' }}
    <div id="intro" class="bg-image shadow-2-strong img-fluid ">
  <div class="mask" style="background-color: rgba(0, 0, 0, 0.8);">
    <div class="container d-flex align-items-center justify-content-center text-center h-100">
      <div id="opacc" class= "bg-image">
    </div>
  </div>   
  </div>    
  >

  <Fragment slot="title">
    Une Équipe Professionelle <br><span class="hidden lg:inline">Avec un Climat Familial: <br class="2xl:hidden"/> </span> 
    <span > </span> <div class="text-accent dark:text-white highlight">PasUnCondo.ca</div>
  </Fragment>

  <Fragment slot="subtitle">
    <span class="hidden sm:inline">
      <span class="font-semibold">PasUnCondo.ca</span> a plus de 1 ans d'experience dans le domaine de la gestion de copropriétés.</span>
    <span class="block mb-1 sm:hidden font-bold text-blue-600">PasUnCondo.ca</span> La référence en matiere de gestion immobiliere peu importe la taille de votre copropriété.
  </Fragment>
</Hero>

  <body>
    <div class="wrapper">
      <input type="radio" name="slider" id="tab-1">
      <input type="radio" name="slider" id="tab-2" checked>
      <input type="radio" name="slider" id="tab-3">
      <header>
        <label for="tab-1" class="tab-1">Base</label>
        <label for="tab-2" class="tab-2">Standard</label>
        <label for="tab-3" class="tab-3">Pro</label>
        <div class="slider"></div>
      </header>
      <div class="card-area">
        <div class="cards">
          <div class="row row-1">
            <div class="price-details">
              <span class="price">19</span>
              <p>Pour Les Débutants</p>
            </div>
            <ul class="features">
              <li><i class="fas fa-check"></i><span> Lorem ipsum dolor sit amet. </span></li>
              <li><i class="fas fa-check"></i><span>Lorem ipsum dolor sit amet.</span></li>
              <li><i class="fas fa-check"></i><span>Lorem ipsum dolor sit amet.</span></li>
              <li><i class="fas fa-check"></i><span>Lorem ipsum dolor sit amet.</span></li>
            </ul>
          </div>
          <div class="row">
            <div class="price-details">
              <span class="price">99</span>
              <p>Pour Usage Pro</p>
            </div>
            <ul class="features">
              <li><i class="fas fa-check"></i><span> Lorem ipsum dolor sit amet. </span></li>
              <li><i class="fas fa-check"></i><span>Lorem ipsum dolor sit amet.</span></li>
              <li><i class="fas fa-check"></i><span>Lorem ipsum dolor sit amet.</span></li>
              <li><i class="fas fa-check"></i><span>Lorem ipsum dolor sit amet.</span></li>
            </ul>
          </div>
          <div class="row">
            <div class="price-details">
              <span class="price">49</span>
              <p>Pour Les Équipes</p>
            </div>
            <ul class="features">
              <li><i class="fas fa-check"></i><span> Lorem ipsum dolor sit amet. </span></li>
              <li><i class="fas fa-check"></i><span>Lorem ipsum dolor sit amet.</span></li>
              <li><i class="fas fa-check"></i><span>Lorem ipsum dolor sit amet.</span></li>
              <li><i class="fas fa-check"></i><span>Lorem ipsum dolor sit amet.</span></li>
            </ul>
          </div>
        </div>
      </div>
      <button>Choisir Ce Plan</button>
    </div>

  </body>
  <br>


  <body>
    <h1 id=formulaire></h1>
  </body>
  
  <br>
  <br>
  
  
  
  <Formtest></Formtest>



</Layout>


<style>
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');

.body {
  display: flex;
  justify-content: ;
  margin: auto;
}

.wrapper{
  width: 400px;
  margin:auto;
  position: relative;
  background: #fff;
  border-radius: 16px;
  padding: 30px;
  box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
  align-items: center;
  justify-content: center;
  color: black;
}
.wrapper header{
  height: 55px;
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 30px;
  position: relative;
}
header label{
  height: 100%;
  z-index: 2;
  width: 30%;
  display: flex;
  cursor: pointer;
  font-size: 18px;
  position: relative;
  align-items: center;
  justify-content: center;
  transition: color 0.3s ease;
}
#tab-1:checked ~ header .tab-1,
#tab-2:checked ~ header .tab-2,
#tab-3:checked ~ header .tab-3{
  color: #fff;
}
header label:nth-child(2){
  width: 40%;
}
header .slider{
  position: absolute;
  height: 85%;
  border-radius: inherit;
  background: linear-gradient(145deg, #D5A3FF 0%, #77A5F8 100%);
  transition: all 0.3s ease;
}
#tab-1:checked ~ header .slider{
  left: 0%;
  width: 90px;
  transform: translateX(5%);
}
#tab-2:checked ~ header .slider{
  left: 50%;
  width: 120px;
  transform: translateX(-50%);
}
#tab-3:checked ~ header .slider{
  left: 100%;
  width: 95px;
  transform: translateX(-105%);
}
.wrapper input[type="radio"]{
  display: none;
}
.card-area{
  overflow: hidden;
}
.card-area .cards{
  display: flex;
  width: 300%;
}
.cards .row{
  width: 33.4%;
}
.cards .row-1{
  transition: all 0.3s ease;
}
#tab-1:checked ~ .card-area .cards .row-1{
   margin-left: 0%;
}
#tab-2:checked ~ .card-area .cards .row-1{
  margin-left: -33.4%;
}
#tab-3:checked ~ .card-area .cards .row-1{
   margin-left: -66.8%;
}
.row .price-details{
  margin: 20px 0;
  text-align: center;
  padding-bottom: 25px;
  border-bottom: 1px solid #e6e6e6;
}
.price-details .price{
  font-size: 65px;
  font-weight: 600;
  position: relative;
  font-family: 'Noto Sans', sans-serif;
}
.price-details .price::before,
.price-details .price::after{
  position: absolute;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}
.price-details .price::before{
  content: "$";
  left: -13px;
  top: 17px;
  font-size: 20px;
}
.price-details .price::after{
  content: "/mon";
  right: -33px;
  bottom: 17px;
  font-size: 13px;
}
.price-details p{
  font-size: 18px;
  margin-top: 5px;
}
.row .features li{
  display: flex;
  font-size: 15px;
  list-style: none;
  margin-bottom: 10px;
  align-items: center;
}
.features li i{
  background: linear-gradient(#D5A3FF 0%, #77A5F8 100%);
  background-clip: text;
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
}
.features li span{
  margin-left: 10px;
}
.wrapper button{
  width: 100%;
  border-radius: 25px;
  border: none;
  outline: none;
  height: 50px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  margin-top: 20px;
  background: linear-gradient(145deg, #D5A3FF 0%, #77A5F8 100%);
  transition: transform 0.3s ease;
}
.wrapper button:hover{
  transform: scale(0.98);
}



</style>